DB_CONNECTION_STRING="dbname=<your-db-name> user=<your-username> password=<your-password> host=<localhost for pytest or your-host when using Docker>"
DB_USERNAME="<your-username>"
DB_PASSWORD="<your-password>"
DB_NAME="<your-db-name>"
DB_HOST="<localhost for pytest or your-host when using Docker>"
DB_PORT="<your-port (like 5432)>"

FERN_KEY=<your-fern-key for password encryption>

JWT_SECRET_KEY="<your-jwt-secret-key>"
JWT_TOKEN_LOCATION="headers"
JWT_HEADER_NAME="Authorization"
JWT_HEADER_TYPE="Bearer"

HOST="0.0.0.0"
PORT="5000"

ADMIN_USERNAME="admin"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="admin1234"

GRAFANA_SMTP_ENABLED=true
GRAFANA_SMTP_HOST=smtp.gmail.com:587 (if you're using Gmail)
GRAFANA_SMTP_USER=email.address@gmail.com
GRAFANA_SMTP_PASSWORD=admin (used for first connexion, then change password)
GRAFANA_FROM_ADDRESS=email.address@gmail.com