numpy
flask
flask-jwt-extended
flask-socketio
gunicorn
sqlalchemy
flask-sqlalchemy
flasgger
dotenv
gevent
gevent-websocket
loguru
marshmallow
marshmallow-sqlalchemy
cryptography
bcrypt
psycopg2-binary
matplotlib
mlflow==3.11.1
prometheus_client
pytest
torch
tqdm
gevent